body{
    background-image: url('biostorm2.gif');
    background-size: cover;
}

h2.site-title {
    width: 50%;
    font-size: 62px;
    color:white;
    margin:auto;
    margin-top: 30px;
    margin-bottom:30px;
}

div {border: 0px !important;}